<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="it.mpic.decimaltime" android:installLocation="auto" android:versionName="1.1" android:versionCode="2">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="27" />
	<application android:icon="@drawable/Icon" android:label="@string/ApplicationName" android:theme="@style/DecimalTimeTheme">
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_stat_ic_notification" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="it.mpic.decimaltime" />
			</intent-filter>
		</receiver>
	</application>
</manifest>